ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  background-color: #ffffff;
}

li a:hover{
  color:#f74040;
}
li a:hover:not(.active) {
  color:#f74040;
}
li a {
  display: block;
  color: #777777;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.active {
  color: #f74040;
  position: relative;
  overflow: hidden;
}
.dropdown-item{
  font-size: 14px;
}
.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover{
  background: transparent;
  color:#f74040
}
/* header top */
.header-top{
     background-color: #f7f7f7;
     color: #777777;
     padding: 15px 0;
  }
  .header-top-inner{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .header-top button {
    background: transparent;
    color: #777777;
    border: none;
    padding:  0;
    font-size: 14px;
}
.header-top button i{
  margin: 0 0 0 5px;
}
 .header-top .dropdown-toggle::after{
    display: none;
}
.header-top-center{
    text-align: center;
    text-transform: uppercase;
}
  .header-top-right {
    text-align: right;
}
.header-top-right span i{
  margin: 0 5px 0 0;
}
.header-top button:hover,
.header-top button:active{
  color: #f74040;
  background: transparent;
}
#header .dropdown-menu.show{
  top:37px !important;
  border-radius: 0;
  border-top: 2px solid #f74040;
  transform:none !important;
}
/* header menu*/
.header-center{
  text-align: center;
}
.header-center .menu>ul{
  display: inline-block;
  float: none;
  vertical-align: top;
}
.header-center .menu>ul>li{
  float: left;
  position: relative;
}
  .header-inner {
    display: flex;
    align-items: center;
  }
  .collapse > ul.top-menu[data-depth="1"]:not(.simple-menu){
    margin: 0 5px;
  }
  #top-sub-menu {
    opacity: 0;
    display: block !important;
    margin-left: 0;
    z-index: 10000;
    border-radius: 0;
    display: none;
    top: 100% !important;
    width: auto;
    max-width: unset;
    left: auto;
    right: auto;
    background-color: #fff;
    border: none;
    border-top: 2px solid #f74040;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.11);
    padding: 10px 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    visibility: hidden;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: absolute;
    z-index: 999999;
  }
  .menu ul>li:hover #top-sub-menu {
    filter: alpha(opacity=100);
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
}
 #top_submenu ul {
  display: block; 
 }

  .main-header ul .dropdown-item.pointer{
    padding: 35px 0;
    text-transform: uppercase;
    color:#222222;
    font-weight: 500;
  }
  .main-header ul li:hover .dropdown-item.pointer{
    color: #f74040;
  }
  .top-menu li a:hover{
   color: #f74040;
  }
  #header .menu  ul[data-depth="0"]>li+li{
    margin: 0 0 0 15px;
  }
  .top-menu .sub-menu ul[data-depth="1"]>li {
    float: left;
    margin: 0 15px;
    min-width: 170px;
    border: none;
  }
  #header li:not(.normal-dropdown) .sub-menu li > a.dropdown-submenu {
    font-weight: 400;
    color: #222222;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}
  #header li .sub-menu li a.dropdown-submenu:hover {
    color: #f74040;
  }
  .top-menu a:not([data-depth="0"]), .top-menu .more_menu .sub-menu a[data-depth="0"] {
    font-size: 14px;
    color: #777777;
    text-transform: capitalize;
    padding: 5px 0px;
    text-align: left;
}
  .top-menu li a{
    position:relative;
  }
  .top-menu a[data-depth="0"], .top-menu .more_menu .sub-menu a:not([data-depth="0"]){
    color: #222222;
    text-shadow: none;
    padding: 45px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }
  .dropdown-submenu {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .top-menu .collapse {
    display: inherit;
}
 /* header right */   
  .header-inner .header-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header-right .header-serach{
    font-size: 20px;
    padding: 34px 0 35px;
  }
  .header-serach a{
    color: #222222;
  }
  /* header cart */
  .header-cart a{
    position: relative;
  }
  .header-cart a {
    color: #222222;
    font-size: 20px;
    padding:  30px 0 31px;
    margin-left: 20px;
  }
  .header-cart a i{
    margin-right: 10px;
  }
  .header-cart a span{
    position: absolute;
    top:26px;
    right:0;
    color:#ffffff;
    text-align: center  ;
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    min-height: 18px;
    min-width: 18px;
    background:#f74040;
    border-radius: 50%;
  }
  .btn:first-child:active,  .btn.show {
    background: none;
    color: #f74040;
    border-color:#e5e5e5;
  }