ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #777777;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 20px;
    text-decoration: none;
  }
  li a:hover{
    color:#f74040;
  }
  li a:hover:not(.active) {
    color:#f74040;
  }
  
  .active {
    background-color: #f7f7f7;
    color: #f74040;
    position: relative;
    overflow: hidden;
  }