.product-section-title{
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .featured-product{
    display: block;
  }
  .product-item .hover-image{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transform: scale(0,1);
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -ms-transform: scale(0,1);
    -o-transform: scale(0,1);
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .product-item:hover .hover-image{
    visibility: visible;
    opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
    right: 0%;
    max-width: 100%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s; 
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .product-image-wrapper{
    position: relative;
    overflow: hidden;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}
.product-btn-wrapper.grid {
  position: absolute;
  visibility: hidden;
  bottom: 50px;
  right: -40px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.product-item:hover .product-btn-wrapper.grid {
  visibility: visible;
  right: 20px;
}
.product-btn-wrapper div a{
   background: #ffffff;
   color: #222222;
   line-height: 40px;
   width: 40px;
   height: 40px;
   display: inline-block;
   padding: 0;
   border-radius: 50%;
   -webkit-border-radius:50%;
   -moz-border-radius:50%;
   -o-border-radius:50%;
   -webkit-transition: all 0.3s ease 0s;
   -moz-transition: all 0.3s ease 0s;
   -ms-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.product-btn-wrapper div a:hover{
  background:#222222;
  color: #f7f7f7;
}
.product-btn-wrapper div i{
  font-size: 14px;
}
.product-btn-wrapper.grid div:not(:first-child) {
  margin-top: 10px;
}
.product-flag{
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  color: #ffffff;
  width: 40px;
  height: 4px;
  font-size: 12px;
}
.product-flag .product-flag-discount{
  background: #f74040;
}
.product-flag .product-flag-new{
  background: #222222;
  text-transform: uppercase;
}
.product-flag li+li{
margin-top: 5px;
}
.product-desc p{
  display: none;
}
.product-description {
  padding: 10px 0 0;
  text-align: left;
  position: relative;
}
.grid-reviews i{
  color: #c6c6c6;
}
.product-title{
  line-height: 15px;
  margin: 6px 0 10px;
}
.product-title a{
  font-size: 16px;
  text-transform: capitalize;
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}
.product-title a:hover{
  color: #f74040;
}
.product-miniature .price{
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  margin: 0 5px 0 0;
}
.product-miniature .regular-price{
  color: #777777;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 500;
}
.product-miniature .discount-price{
  display: none;
}
.product-miniature img{
  max-height: 360px;
  width: 100%;
}
.product-miniature{
  width: 100%;
  background: #ffffff;
  }

.product-tabs .nav-tabs {
  border: none;
  border-width: 0;
  margin: 0 0  24px;
}
.nav-item{
  border-width: 0;
}
.product-tabs .nav-tabs .nav-link{
  display: block;
  position: relative;
  border: none;
  padding: 0 0 15px;
  color: #777777;
  background: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  line-height: 1;
  text-transform: capitalize;
  border-radius: 0;
}
.product-tabs .nav-tabs li+li{
  margin:0 0 0 30px;
}
.product-tabs .nav-tabs .nav-link:hover,
.product-tabs .nav-tabs .nav-link.active,
.product-tabs .nav-tabs .nav-link.active:hover{
  color: #222222;
}
.product-tabs .nav-item .nav-link:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    margin: auto;
    background-color: #222222;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}  
.product-tabs .nav-item .nav-link.active:after, .product-tabs .nav-item .nav-link:hover:after {
  width: 100%;
}
.featured-product .product-tabs{
  padding: 0;
}
.product-miniature .product-item{
  margin-bottom: 0;
}
.product-item{
  margin-bottom: 30px;
}