.breadcrumbs{   
    background: #f7f7f7;
    padding: 15px 0;
    margin: 0 0 30px;
}  
.inner-text ol{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-text ol li{
    list-style: none;
 }
.inner-text ol li+li> a {
    margin-left: 20px;
}
.inner-text ol>li+li:before{
    content: "/";
    color: #222222;
    padding: 0 8px 0 7px;
    position: absolute;
}
.cat-description p{
    margin: 15px 0 25px;
    font-size: 16px;
    color: #777777;
}
.subcat-title{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
}
#subcategories ul{
    justify-content:unset;
}
#subcategories .subcategory-block{
display: inline-block;
background: #222222;
padding: 7px 15px;
margin: 0 5px 5px 0;
}
#subcategories .subcategory-block a{
    color: #ffffff;
}
#subcategories .subcategory-block:hover{
    background: #f74040;
}
.sub-cat#subcategories{
    margin: 0 0 30px;
}
.icon-grid:before {
    content: "\e928";
}
.right-column .product-item img{
    max-height: 262px;
    width: 213px;
}
.category-toolbar{
    padding: 10px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.gridlist-toggle i{
    font-size: 20px;
    background: #222222;
    padding: 10px;
    color: #f7f7f7;
    font-weight: 400;
}
.gridlist-toggle i:hover{
    background: #f74040;
}
.gridlist-toggle span+span{
    margin-left: 10px;
}
.product-sort-order-inner.show{
    padding-left: 15px;
}
.product-sort-order-inner.show button{
     width: 250px;
     background: #ffffff;
     border: 1px solid #e5e5e5;
     color: #222222;
     display: inline-block;
     text-align: left;
     padding: 7px 10px;
}
.product-sort-order-inner.show button:active{
    color: #222222;
}
.filter-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product-sort-order-inner.show button>i{
    float: right;
    line-height: 20px;
}
/*pagination*/
.pagination{
    display: block;
    padding: 12px 15px;
    border-top: 1px solid #e5e5e5;
}
.pagination-right ul{
    text-align: right;
    justify-content: end;
}
.pagination ul li>a{
   border-radius: 50%;
   background: #222222;
   color: #ffffff;
   font-size: 14px;
   padding: 0;
   height: 36px;
   line-height: 36px;
   width: 36px;
   display: inline-block;
}
.pagination ul li>a:hover{
    background-color: #f74040;
    color: #ffffff;
}
.pagination ul li{
    margin-right: 5px;
}
/*left column*/
.left-column>div{
    margin-bottom: 50px;
}
/* category-block */
.category-top-menu{
    display: block;
}
.sub-menu.is-open .fa-plus{
   opacity: 0;
}
.fa-minus {
    opacity: 0;
}
.sub-menu.is-open .fa-minus{
    opacity: 1;
}
#category-sub-menu{
    display: block;
}
.sub-menu li{ display: none;}
.sub-menu.is-open li { display:block;}

.left-column .cat-title a,
.left-column .filter-title{
    background: #222222;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 20px;
    text-align: left;
    display: block;
    margin: 0;
}
.cat-title a:hover, .filter-title:hover{
    background: #222222;
    color: #ffffff !important;
}
#categories-block>ul{
    display: block;
}
#categories-block > ul > li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
}
#categories-block ul li a{
    text-transform: capitalize;
}
/* best seller */
.left-column .bestsller img{
    width: 100px;
    height: 100px;
}
.left-column .product-img-wrapper{
    width: 20%;
}
.left-column .bestsller{
    min-height: 500px;
}

/* bannerhtml */
.bannerhtml{
    overflow: hidden;
    position: relative;
}
.bannerhtml img{

    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    display: block;
}
.bannerhtml img:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}