.breadcrumbs{   
    background: #f7f7f7;
    padding: 15px 0;
    margin: 0 0 30px;
}  
.inner-text ol{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-text ol li{
    list-style: none;
 }
.inner-text ol li+li> a {
    margin-left: 20px;
}
.inner-text ol>li+li:before{
    content: "/";
    color: #222222;
    padding: 0 8px 0 7px;
    position: absolute;
}
.cat-description p{
    margin: 15px 0 25px;
    font-size: 16px;
    color: #777777;
}
.subcat-title{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
}
#subcategories ul{
    justify-content:unset;
}
#subcategories .subcategory-block{
display: inline-block;
background: #222222;
padding: 7px 15px;
margin: 0 5px 5px 0;
}
#subcategories .subcategory-block a{
    color: #ffffff;
}
#subcategories .subcategory-block:hover{
    background: #f74040;
}
.sub-cat#subcategories{
    margin: 0 0 30px;
}
.icon-grid:before {
    content: "\e928";
}
.right-column .product-item img{
    max-height: 262px;
    width: 213px;
}
.category-toolbar{
    padding: 10px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.gridlist-toggle i{
    font-size: 20px;
    background: #222222;
    padding: 10px;
    color: #f7f7f7;
    font-weight: 400;
}
.gridlist-toggle i:hover{
    background: #f74040;
}
.gridlist-toggle span+span{
    margin-left: 10px;
}
.product-sort-order-inner.show{
    padding-left: 15px;
}
.product-sort-order-inner.show button{
     width: 250px;
     background: #ffffff;
     border: 1px solid #e5e5e5;
     color: #222222;
     display: inline-block;
     text-align: left;
     padding: 7px 10px;
}
.product-sort-order-inner.show button:active{
    color: #222222;
}
.filter-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product-sort-order-inner.show button>i{
    float: right;
    line-height: 20px;
}
/*pagination*/
.pagination{
    display: block;
    padding: 12px 15px;
    border-top: 1px solid #e5e5e5;
}
.pagination-right ul{
    text-align: right;
    justify-content: end;
}
.pagination li a{
   border-radius: 50%;
   background: #222222;
   color: #ffffff;
   font-size: 14px;
   padding: 0;
   height: 36px;
   line-height: 36px;
   width: 36px;
   display: inline-block;
}
.pagination li a:hover,
.pagination  li a.active,
.pagination  li a:active{
    background-color: #f74040;
    color: #ffffff;
}
.pagination ul li{
    margin-right: 5px;
}